In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("Churn_dataset.csv")

In [3]:
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7043 non-null   object
 20  Churn             7043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB

In [5]:
df=df.drop(columns=['customerID','SeniorCitizen','gender','Dependents','PaperlessBilling','PaymentMethod','MonthlyCharges','PhoneService','StreamingMovies'],axis=1)

In [6]:
df.head()

,Partner,tenure,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,Contract,TotalCharges,Churn
0,Yes,1,No phone service,DSL,No,Yes,No,No,No,Month-to-month,29.85,No
1,No,34,No,DSL,Yes,No,Yes,No,No,One year,1889.5,No
2,No,2,No,DSL,Yes,Yes,No,No,No,Month-to-month,108.15,Yes
3,No,45,No phone service,DSL,Yes,No,Yes,Yes,No,One year,1840.75,No
4,No,2,No,Fiber optic,No,No,No,No,No,Month-to-month,151.65,Yes

In [7]:
print("MultipleLines", df["MultipleLines"].unique())
print("Partner", df["Partner"].unique())
print("InternetService", df["InternetService"].unique())
print("OnlineSecurity", df["OnlineSecurity"].unique())
print("OnlineBackup", df["OnlineBackup"].unique())
print("DeviceProtection", df["DeviceProtection"].unique())
print("TechSupport", df["TechSupport"].unique())
print("StreamingTV", df["StreamingTV"].unique())
print("Contract", df["Contract"].unique())
print("Churn", df["Churn"].unique())

MultipleLines ['No phone service' 'No' 'Yes']
Partner ['Yes' 'No']
InternetService ['DSL' 'Fiber optic' 'No']
OnlineSecurity ['No' 'Yes' 'No internet service']
OnlineBackup ['Yes' 'No' 'No internet service']
DeviceProtection ['No' 'Yes' 'No internet service']
TechSupport ['No' 'Yes' 'No internet service']
StreamingTV ['No' 'Yes' 'No internet service']
Contract ['Month-to-month' 'One year' 'Two year']
Churn ['No' 'Yes']

In [8]:
df['MultipleLines'] = df['MultipleLines'].replace('No phone service', 'No')
df['OnlineSecurity'] = df['OnlineSecurity'].replace('No internet service', 'No')
df['OnlineBackup'] = df['OnlineBackup'].replace('No internet service', 'No')
df['DeviceProtection'] = df['DeviceProtection'].replace('No internet service', 'No')
df['TechSupport'] = df['TechSupport'].replace('No internet service', 'No')
df['StreamingTV'] = df['StreamingTV'].replace('No internet service', 'No')

In [9]:
from sklearn.preprocessing import OneHotEncoder,LabelEncoder
label=LabelEncoder()
encoder=OneHotEncoder(sparse_output=False)

In [10]:
df.head()

,Partner,tenure,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,Contract,TotalCharges,Churn
0,Yes,1,No,DSL,No,Yes,No,No,No,Month-to-month,29.85,No
1,No,34,No,DSL,Yes,No,Yes,No,No,One year,1889.5,No
2,No,2,No,DSL,Yes,Yes,No,No,No,Month-to-month,108.15,Yes
3,No,45,No,DSL,Yes,No,Yes,Yes,No,One year,1840.75,No
4,No,2,No,Fiber optic,No,No,No,No,No,Month-to-month,151.65,Yes

In [11]:
x=df.iloc[:,:-1]
y=df.iloc[:,-1]

In [12]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=.2)

In [13]:
x_train['Partner']=label.fit_transform(x_train['Partner'])
x_train['StreamingTV']=label.fit_transform(x_train['StreamingTV'])
x_train['TechSupport']=label.fit_transform(x_train['TechSupport'])
x_train['OnlineBackup']=label.fit_transform(x_train['OnlineBackup'])
x_train['OnlineSecurity']=label.fit_transform(x_train['OnlineSecurity'])

In [14]:
x_train['DeviceProtection']=label.fit_transform(x_train['DeviceProtection'])
x_train['MultipleLines']=label.fit_transform(x_train['MultipleLines'])

In [15]:
x_train.head()

,Partner,tenure,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,Contract,TotalCharges
5078,1,67,1,Fiber optic,1,0,1,1,0,One year,6689
531,1,70,0,No,0,0,0,0,0,Two year,1360.25
3534,0,46,0,Fiber optic,1,1,0,1,1,One year,4822.85
1631,1,17,1,Fiber optic,1,0,1,0,0,Month-to-month,1463.45
2570,1,30,1,Fiber optic,0,0,0,0,1,Month-to-month,2866.45

In [16]:
from sklearn.preprocessing import OneHotEncoder

# One encoder for InternetService
encoder_internet = OneHotEncoder(sparse_output=False)
Internet_train_encoded = encoder_internet.fit_transform(x_train[['InternetService']])
Internet_train_encoded_df = pd.DataFrame(
    Internet_train_encoded,
    columns=encoder_internet.get_feature_names_out(['InternetService']),
    index=x_train.index
)
x_train = pd.concat([x_train, Internet_train_encoded_df], axis=1).drop(columns=['InternetService'])

# One encoder for Contract
encoder_contract = OneHotEncoder(sparse_output=False)
Contract_train_encoded = encoder_contract.fit_transform(x_train[['Contract']])
Contract_train_encoded_df = pd.DataFrame(
    Contract_train_encoded,
    columns=encoder_contract.get_feature_names_out(['Contract']),
    index=x_train.index
)
x_train = pd.concat([x_train, Contract_train_encoded_df], axis=1).drop(columns=['Contract'])

In [17]:
x_train['TotalCharges'] = pd.to_numeric(x_train['TotalCharges'], errors='coerce')
x_test['TotalCharges']  = pd.to_numeric(x_test['TotalCharges'], errors='coerce')
mean_total_charges = x_train['TotalCharges'].mean()
x_train['TotalCharges'].fillna(mean_total_charges, inplace=True)
x_test['TotalCharges'].fillna(mean_total_charges, inplace=True)

/tmp/ipykernel_1386/3338777221.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  x_train['TotalCharges'].fillna(mean_total_charges, inplace=True)
/tmp/ipykernel_1386/3338777221.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  x_test['TotalCharges'].fillna(mean_total_charges, inplace=True)

In [18]:
x_train.head()

,Partner,tenure,MultipleLines,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,TotalCharges,InternetService_DSL,InternetService_Fiber optic,InternetService_No,Contract_Month-to-month,Contract_One year,Contract_Two year
5078,1,67,1,1,0,1,1,0,6689.00,0.0,1.0,0.0,0.0,1.0,0.0
531,1,70,0,0,0,0,0,0,1360.25,0.0,0.0,1.0,0.0,0.0,1.0
3534,0,46,0,1,1,0,1,1,4822.85,0.0,1.0,0.0,0.0,1.0,0.0
1631,1,17,1,1,0,1,0,0,1463.45,0.0,1.0,0.0,1.0,0.0,0.0
2570,1,30,1,0,0,0,0,1,2866.45,0.0,1.0,0.0,1.0,0.0,0.0

In [19]:
# Apply label encoding with the SAME label encoder
x_test['Partner'] = label.transform(x_test['Partner'])
x_test['StreamingTV'] = label.transform(x_test['StreamingTV'])
x_test['TechSupport'] = label.transform(x_test['TechSupport'])
x_test['OnlineBackup'] = label.transform(x_test['OnlineBackup'])
x_test['OnlineSecurity'] = label.transform(x_test['OnlineSecurity'])
x_test['DeviceProtection'] = label.transform(x_test['DeviceProtection'])
x_test['MultipleLines'] = label.transform(x_test['MultipleLines'])

In [20]:
# InternetService
Internet_test_encoded = encoder_internet.transform(x_test[['InternetService']])
Internet_test_encoded_df = pd.DataFrame(
    Internet_test_encoded,
    columns=encoder_internet.get_feature_names_out(['InternetService']),
    index=x_test.index
)
x_test = pd.concat([x_test, Internet_test_encoded_df], axis=1).drop(columns=['InternetService'])

# Contract
Contract_test_encoded = encoder_contract.transform(x_test[['Contract']])
Contract_test_encoded_df = pd.DataFrame(
    Contract_test_encoded,
    columns=encoder_contract.get_feature_names_out(['Contract']),
    index=x_test.index
)
x_test = pd.concat([x_test, Contract_test_encoded_df], axis=1).drop(columns=['Contract'])

In [21]:
y_train=label.fit_transform(y_train)

In [22]:
y_test=label.transform(y_test)

In [23]:
x_train['TotalCharges'] = pd.to_numeric(x_train['TotalCharges'], errors='coerce')
x_test['TotalCharges']  = pd.to_numeric(x_test['TotalCharges'], errors='coerce')

In [24]:
from sklearn.preprocessing import StandardScaler
Sclar=StandardScaler()

In [25]:
x_train=Sclar.fit_transform(x_train)
x_test=Sclar.transform(x_test)

In [26]:
import pickle

In [27]:
with open('Encoder_Internet.pkl','wb') as file:
    pickle.dump(encoder_internet,file)

In [28]:
with open('Encoder_Contract.pkl','wb') as file:
    pickle.dump(encoder_contract,file)

In [29]:
with open('Label_encoder.pkl','wb') as file:
    pickle.dump(label,file)

In [30]:
import os
os.makedirs("processed_data", exist_ok=True)

In [31]:
np.savetxt("processed_data/x_train.csv", x_train, delimiter=",")
np.savetxt("processed_data/x_test.csv", x_test, delimiter=",")
pd.Series(y_train).to_csv("processed_data/y_train.csv", index=False, header=["Churn"])
pd.Series(y_test).to_csv("processed_data/y_test.csv", index=False, header=["Churn"])

In [32]:
with open('Sclar.pkl','wb') as file:
    pickle.dump(Sclar,file)